<mat-dialog-content>
    <h2 class="mat-h2" >Patient: {{consult.patient.firstName}} | Date: {{consult.consultDate}}</h2>
</mat-dialog-content>
<mat-card *ngFor="let d of consult.details">
    <mat-card-header>
        <mat-card-title>DIAGNOSIS</mat-card-title>
        <mat-card-subtitle>{{d.diagnosis}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>{{d.treatment}}</p>
    </mat-card-content>
</mat-card>

<h2>Exams</h2>
<mat-card class="example-card" >
    <mat-card-header>
        <mat-card-subtitle>{{exams.name}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{exams.description}}
        </p>
    </mat-card-content>
</mat-card>
